.header {
  position: relative;
  margin-bottom: 30px;
}

.header__tab {
  max-width: 1086px;
  position: relative;
  right: 10px;
  text-align: right;
  margin: 10px 0 20px;
  font-size: 0;
}

.header__tab:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 2px #005E3C;
  bottom: -7px;
  width: 100%;
}

.header__tab--item-Common {
  border: 1px solid #005E3C;
  font-size: 13px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
}

.header__tab-list1 {
  background: #005E3C;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header__tab-list2 {
  color: #005E3C;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.header__modal--list {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 4;
}

.header__modal--list-item {
  width: 90vw;
  height: 40px;
  line-height: 2.5;
  background-color: #B2D3A7;
  color: #005E3C;
  margin: 0 auto 10px;
}

.header__modal--list-first {
  background: #005E3C;
  color: white;
}

.header__modal--list-close {
  background: #eeeeee;
  color: #717171;
  width: 70px;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 0 auto;
  height: 30px;
  line-height: 2;
}

.header__main {
  display: flex;
}

.header__main-title {
  width: 320px;
  height: 75px;
  margin-right: auto;
}

.header__main-title:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.header__main-search-box {
  border: solid 1px #005E3C;
  background: silver;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 3px 10px;
  cursor: pointer;
}

.header__main-menu-trigger {
  background: #005E3C;
  color: white;
  height: 30px;
  line-height: 2.3;
  padding: 0 2px;
  text-align: center;
  width: 65px;
  font-size: 1.4rem;
  cursor: pointer;
}

.header__main--form {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  text-align: center;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__main--form-input-text {
  position: relative;
  width: 80vw;
  height: 35px;
  margin-right: 5px;
}

.header__main--form-input-text .text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  font-family: inherit;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: transparent;
  color: inherit;
}

.header__main--form-input-text .text:focus {
  border: 1px solid #005E3C;
  box-shadow: none;
  outline: none;
}

.header__main--form-input-submit {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  width: 65px;
  height: 25px;
}

.header__main--form-p {
  background-color: #eeeeee;
  color: #717171;
  width: 70px;
  font-size: 1.5rem;
  margin: 20px auto;
  text-align: center;
  height: 30px;
  line-height: 2;
  border-radius: 3px;
}

.header__main--nav-about {
  width: 260px;
  border-left: solid 1px #CCCCCC;
  font-size: 1.5rem;
  position: fixed;
  transform: translate(260px);
  transition: all .5s;
  top: 0;
  right: 0;
  z-index: 10;
}

.header__main--nav-about-title {
  display: flex;
  align-items: center;
  background: #eaeadf;
  border-bottom: solid 2px #005E3C;
  height: 55px;
  padding-left: 10px;
}

.header__main--nav-about-title-h4 {
  margin-right: auto;
}

.header__main--nav-about-title-p {
  background: #005E3C;
  color: white;
  padding: 15px 10px 12px;
  border-radius: 3px;
  font-size: 80%;
  width: 80px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.header__main--nav-about-ul1-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
}

.header__main--nav-about-ul1-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul1-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul1-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul1-li::after {
  color: #B2D3A7;
}

.header__main--nav-about-ul1-li:hover {
  background: #B2D3A7;
  color: #005E3C;
}

.header__main--nav-about-ul2 {
  padding: 10px 0;
  background: #005E3C;
  border-bottom: solid 1px black;
}

.header__main--nav-about-ul2-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
  background: #005E3C;
  color: white;
}

.header__main--nav-about-ul2-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul2-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul2-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul2-li:hover {
  background: white;
  color: #005E3C;
}

.header__main--nav-about-ul2-li:hover::after {
  color: green;
}

.header__main--nav-about-ul3 {
  border-bottom: solid 3px #005E3C;
}

.header__main--nav-about-ul3-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
  color: #666666;
  background-color: #EFF4ED;
}

.header__main--nav-about-ul3-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul3-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul3-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul3-li:nth-last-child(1) {
  border-bottom: none;
}

.header__main--nav-about-ul3-li::after {
  font-size: 15px;
  color: #B2D3A7;
}

.header__main--nav-about-ul3-li:hover {
  background: #d3e1cd;
}

.header__main--nav-about-ul3-li:hover::before {
  font-size: 15px;
  color: #B2D3A7;
}

.header__main--nav-about-close {
  text-align: center;
  height: 60px;
  line-height: 4.5;
  color: #666666;
}

.header__main__info {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  font-size: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.header__main__info-li {
  display: inline-block;
  font-size: 1.4rem;
  border-left: solid 1px #CCCCCC;
  padding: 0 15px;
}

.header__main__info-li:hover {
  color: #ea6000;
}

.header__main__info-li:nth-child(1) {
  border-left: none;
}

.header__main__info-li .fas {
  color: #005E3C;
  margin-right: 10px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
