@import "_setting.scss";
.header {
    position: relative;
    margin-bottom: 30px;
    &__tab {
        max-width: $layout-width-inner;
        position: relative;
        right: 10px;
        text-align: right;
        margin: 10px 0 20px;
        font-size:0;
        &:after {
            position: absolute;
            content: " ";
            display: block;
            border-bottom: solid 2px $main-color;
            bottom: -7px;
            width: 100%;
        }
        &--item-Common {
            border: 1px solid $main-color;
            font-size: 13px;
            padding: 2px 5px;
            display: inline-block;
            cursor: pointer;
        }
        &-list1 {
            @include common-btn;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }
        &-list2 {
            color: $main-color;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px
        }
    }
    &__modal {
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        &__bg {
            background: rgba(0,0,0,0.8);
            height: 100vh;
            position: absolute;
            width: 100%;
        }
        &--list {
            width: 100%;
            position: absolute;
            top: 20px;
            left: 50%;
            -ms-transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
            text-align: center;
            z-index: 4;
            &-item {
                width: 90vw;
                height: 40px;
                line-height: 2.5;
                background-color: #B2D3A7;
                color: #005E3C;
                margin: 0 auto 10px;
            }
            &-first {
                background: $main-color;
                color: white; 
            }
            &-close {
                background: #eeeeee;
                color: #717171;
                width: 70px;
                border-radius: 3px;
                font-size: 1.5rem;
                margin: 0 auto;
                height: 30px;
                line-height: 2;
            }
       }
    }
    &__main {
        display: flex;
        &-title {
            width: 320px;
            height: 75px;
            margin-right: auto;
            &:hover {
                opacity: 0.6;
                transition: all 0.2s linear;
            }
        }
        &-search-box {
            border: solid 1px $main-color;
            background: silver;
            color: white;
            width: 20px;
            height: 20px;
            line-height: 1.5;
            text-align: center;
            margin: 3px 10px;
            cursor: pointer;
        }
        &-menu-trigger {
           @include common-btn;
           height: 30px;
           line-height: 2.3;
           padding: 0 2px;
           text-align: center;
           width: 65px;
           font-size: 1.4rem;
           cursor: pointer;
        }
        // modal cssは外に記載
        &--form {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 100%;
            text-align: center;
            -ms-transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
            &-input-text {
                @include form-more;
                width: 80vw;
                height: 35px;
                margin-right: 5px;
            }
            &-input-submit {
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900;
                color: white;
                width: 65px;
                height: 25px;
            }
            &-p {
                background-color: #eeeeee;
                color: #717171;
                width: 70px;
                font-size: 1.5rem;
                margin: 20px auto;
                text-align: center;
                height: 30px;
                line-height: 2;
                border-radius: 3px;
            }
        }
        &--nav {
            &-about {
                width: 260px;
                border-left: solid 1px #CCCCCC;
                font-size: 1.5rem;
                position: fixed;
                transform: translate(260px);
                transition: all .5s;
                top: 0;
                right: 0;
                z-index: 10;
                &-title {
                    display: flex;
                    align-items: center;
                    background: #eaeadf;
                    border-bottom: solid 2px $main-color;
                    height: 55px;
                    padding-left: 10px;
                    &-h4 {
                        margin-right: auto;
                    }
                    &-p {
                        @include common-btn;
                        padding: 15px 10px 12px;
                        border-radius: 3px;
                        font-size: 80%;
                        width: 80px;
                        box-sizing: border-box;
                        text-align: center;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
                &-ul1 {
                    &-li {
                        @include li-common;
                        &::after {
                            color: #B2D3A7;
                        }
                        &:hover {
                            background: #B2D3A7;
                            color: $main-color; 
                        }
                    }
                }
                &-ul2 {
                    padding:10px 0;
                    background: $main-color;
                    border-bottom: solid 1px black;
                    &-li {
                        @include li-common;
                        background: $main-color;
                        color: white;
                        &:hover {
                            background: white;
                            color: $main-color;
                            &::after {
                                color: green;
                            }
                        }
                    }
                }
                &-ul3 {
                    border-bottom: solid 3px $main-color;
                    &-li {
                        @include li-common;
                        color: #666666;
                        background-color: #EFF4ED;
                        &:nth-last-child(1) {
                            border-bottom: none;
                        }
                        &::after {
                            font-size: 15px;
                            color: #B2D3A7;
                        }
                        &:hover {
                            background: darken(#EFF4ED,10%);
                            &::before {
                                font-size: 15px;
                                color: #B2D3A7;
                            }
                        }
                    }
                }
                &-close {
                    text-align: center;
                    height: 60px;
                    line-height: 4.5;
                    color: #666666;
                }
            }
        }
        &__info {
            position: absolute;
            bottom: 0;
            left: 50%;
            -ms-transform: translate(-50%,100%);
            -webkit-transform: translate(-50%,100%);
            transform: translate(-50%,100%);
            font-size: 0;
            width: 100%;
            text-align: center;
            z-index: -1;
            &-li {
                display: inline-block;
                font-size: 1.4rem;
                border-left: solid 1px #CCCCCC;
                padding: 0 15px;
                &:hover {
                    color: #ea6000;
                }
                &:nth-child(1) {
                    border-left: none;
                }
                .fas {
                    color: $main-color;
                    margin-right: 10px;
                }
            }
        }
    }
}

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    &__bg {
        background: rgba(0,0,0,0.8);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
}
