.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.swiper-button-prev {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper3.png) no-repeat center center/contain;
}

.swiper-button-next {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper4.png) no-repeat center center/contain;
}

.swiper2 .swiper-container {
  position: relative;
  z-index: 0;
  margin-bottom: 65px;
  padding: 35px 0;
  box-sizing: border-box;
  border-bottom: solid 1px #B2D3A7;
}

.swiper2 .swiper-container .swiper-slide-img {
  width: 200px;
  height: 120px;
  margin: 0 24px;
}

.swiper2 .swiper-container .swiper-slide-img:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.swiper2 .swiper-container .swiper-slide-p {
  opacity: 0.6;
}

.article {
  width: 100%;
}

.article__title {
  display: flex;
  margin: 30px 20px;
}

.article__title-h3 {
  color: #005E3C;
  font-weight: normal;
  margin-right: auto;
}

.article__title-h3 .fa-copy {
  margin-right: 10px;
}

.article__title-p {
  color: silver;
}

.article__title-p .fa-angle-right {
  font-size: 20px;
  vertical-align: middle;
}

.article__tab {
  background: white;
  width: 100%;
}

.article__tab-p {
  color: silver;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.article__tab-p .fa-angle-right {
  font-size: 20px;
  vertical-align: middle;
}

.article__tab--title {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.39239vw;
  font-size: 0;
}

@media screen and (min-width: 1366px) {
  .article__tab--title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .article__tab--title {
    margin-bottom: 21.96193px;
  }
}

.article__tab--title-li {
  border-bottom: solid 1px #005E3C;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  width: 25%;
  box-sizing: border-box;
  border-bottom: none;
  font-size: 1.4rem;
  padding-top: 8px;
  cursor: pointer;
  color: #005E3C;
  background: #B2D3A7;
}

.article__tab--title .active {
  background: #3f51b5;
  color: #005E3C;
  background: none;
  border-top: solid 2px #005E3C;
  border-left: solid 1px #005E3C;
  border-right: solid 1px #005E3C;
}

.article__tab--about {
  display: flex;
  width: 96%;
  margin: 0 auto 100px;
}

.article__tab--about-text {
  display: none;
}

.article__tab--about-text__content-li {
  border-bottom: dotted 1px #CCCCCC;
  padding: 20px 0;
  font-size: 1.4rem;
}

.article__tab--about-text__content-li:hover {
  background: #EFF4ED;
}

.article__tab--about-text__content-li-span1 {
  background: #EFF4ED;
  padding: 5px;
  margin-right: 5px;
}

.article__tab--about-text__content-li-span2 {
  font-size: 90%;
  background: #FCFF80;
  border: solid 1px #F4E02D;
  padding: 2px 5px;
  margin-left: 5px;
}

.article__tab--about .show {
  display: block;
  margin: 0 auto;
}
