@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-width: 400px;
  font-size: 1.6rem;
  box-sizing: border-box;
  transition: all .3s linear;
}

body.open {
  transform: translateX(-260px);
  transition: all .3s linear;
}

.section, .article, .aside, .nav, .header, .main, .footer {
  display: block;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  width: inherit;
  height: inherit;
}

img {
  width: inherit;
  height: inherit;
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}

.overlay.open {
  width: 97.5vw;
  height: 197vw;
  opacity: 0.1;
  transition: opacity .5s;
}

.header {
  position: relative;
  margin-bottom: 30px;
}

.header__tab {
  max-width: 1086px;
  position: relative;
  right: 10px;
  text-align: right;
  margin: 10px 0 20px;
  font-size: 0;
}

.header__tab:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 2px #005E3C;
  bottom: -7px;
  width: 100%;
}

.header__tab--item-Common {
  border: 1px solid #005E3C;
  font-size: 13px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
}

.header__tab-list1 {
  background: #005E3C;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header__tab-list2 {
  color: #005E3C;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.header__modal--list {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 4;
}

.header__modal--list-item {
  width: 90vw;
  height: 40px;
  line-height: 2.5;
  background-color: #B2D3A7;
  color: #005E3C;
  margin: 0 auto 10px;
}

.header__modal--list-first {
  background: #005E3C;
  color: white;
}

.header__modal--list-close {
  background: #eeeeee;
  color: #717171;
  width: 70px;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 0 auto;
  height: 30px;
  line-height: 2;
}

.header__main {
  display: flex;
}

.header__main-title {
  width: 320px;
  height: 75px;
  margin-right: auto;
}

.header__main-title:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.header__main-search-box {
  border: solid 1px #005E3C;
  background: silver;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 3px 10px;
  cursor: pointer;
}

.header__main-menu-trigger {
  background: #005E3C;
  color: white;
  height: 30px;
  line-height: 2.3;
  padding: 0 2px;
  text-align: center;
  width: 65px;
  font-size: 1.4rem;
  cursor: pointer;
}

.header__main--form {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  text-align: center;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__main--form-input-text {
  position: relative;
  width: 80vw;
  height: 35px;
  margin-right: 5px;
}

.header__main--form-input-text .text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  font-family: inherit;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: transparent;
  color: inherit;
}

.header__main--form-input-text .text:focus {
  border: 1px solid #005E3C;
  box-shadow: none;
  outline: none;
}

.header__main--form-input-submit {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  width: 65px;
  height: 25px;
}

.header__main--form-p {
  background-color: #eeeeee;
  color: #717171;
  width: 70px;
  font-size: 1.5rem;
  margin: 20px auto;
  text-align: center;
  height: 30px;
  line-height: 2;
  border-radius: 3px;
}

.header__main--nav-about {
  width: 260px;
  border-left: solid 1px #CCCCCC;
  font-size: 1.5rem;
  position: fixed;
  transform: translate(260px);
  transition: all .5s;
  top: 0;
  right: 0;
  z-index: 10;
}

.header__main--nav-about-title {
  display: flex;
  align-items: center;
  background: #eaeadf;
  border-bottom: solid 2px #005E3C;
  height: 55px;
  padding-left: 10px;
}

.header__main--nav-about-title-h4 {
  margin-right: auto;
}

.header__main--nav-about-title-p {
  background: #005E3C;
  color: white;
  padding: 15px 10px 12px;
  border-radius: 3px;
  font-size: 80%;
  width: 80px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.header__main--nav-about-ul1-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
}

.header__main--nav-about-ul1-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul1-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul1-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul1-li::after {
  color: #B2D3A7;
}

.header__main--nav-about-ul1-li:hover {
  background: #B2D3A7;
  color: #005E3C;
}

.header__main--nav-about-ul2 {
  padding: 10px 0;
  background: #005E3C;
  border-bottom: solid 1px black;
}

.header__main--nav-about-ul2-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
  background: #005E3C;
  color: white;
}

.header__main--nav-about-ul2-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul2-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul2-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul2-li:hover {
  background: white;
  color: #005E3C;
}

.header__main--nav-about-ul2-li:hover::after {
  color: green;
}

.header__main--nav-about-ul3 {
  border-bottom: solid 3px #005E3C;
}

.header__main--nav-about-ul3-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #005E3C;
  padding-left: 10px;
  color: #666666;
  background-color: #EFF4ED;
}

.header__main--nav-about-ul3-li::after {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.header__main--nav-about-ul3-li:hover {
  transition: all 0.2s linear;
}

.header__main--nav-about-ul3-li:hover::before {
  position: absolute;
  right: 5px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: green;
  z-index: 2;
}

.header__main--nav-about-ul3-li:nth-last-child(1) {
  border-bottom: none;
}

.header__main--nav-about-ul3-li::after {
  font-size: 15px;
  color: #B2D3A7;
}

.header__main--nav-about-ul3-li:hover {
  background: #d3e1cd;
}

.header__main--nav-about-ul3-li:hover::before {
  font-size: 15px;
  color: #B2D3A7;
}

.header__main--nav-about-close {
  text-align: center;
  height: 60px;
  line-height: 4.5;
  color: #666666;
}

.header__main__info {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  font-size: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.header__main__info-li {
  display: inline-block;
  font-size: 1.4rem;
  border-left: solid 1px #CCCCCC;
  padding: 0 15px;
}

.header__main__info-li:hover {
  color: #ea6000;
}

.header__main__info-li:nth-child(1) {
  border-left: none;
}

.header__main__info-li .fas {
  color: #005E3C;
  margin-right: 10px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.swiper-button-prev {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper3.png) no-repeat center center/contain;
}

.swiper-button-next {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper4.png) no-repeat center center/contain;
}

.swiper2 .swiper-container {
  position: relative;
  z-index: 0;
  margin-bottom: 65px;
  padding: 35px 0;
  box-sizing: border-box;
  border-bottom: solid 1px #B2D3A7;
}

.swiper2 .swiper-container .swiper-slide-img {
  width: 200px;
  height: 120px;
  margin: 0 24px;
}

.swiper2 .swiper-container .swiper-slide-img:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.swiper2 .swiper-container .swiper-slide-p {
  opacity: 0.6;
}

.article {
  width: 100%;
}

.article__title {
  display: flex;
  margin: 30px 20px;
}

.article__title-h3 {
  color: #005E3C;
  font-weight: normal;
  margin-right: auto;
}

.article__title-h3 .fa-copy {
  margin-right: 10px;
}

.article__title-p {
  color: silver;
}

.article__title-p .fa-angle-right {
  font-size: 20px;
  vertical-align: middle;
}

.article__tab {
  background: white;
  width: 100%;
}

.article__tab-p {
  color: silver;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.article__tab-p .fa-angle-right {
  font-size: 20px;
  vertical-align: middle;
}

.article__tab--title {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.39239vw;
  font-size: 0;
}

@media screen and (min-width: 1366px) {
  .article__tab--title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .article__tab--title {
    margin-bottom: 21.96193px;
  }
}

.article__tab--title-li {
  border-bottom: solid 1px #005E3C;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  width: 25%;
  box-sizing: border-box;
  border-bottom: none;
  font-size: 1.4rem;
  padding-top: 8px;
  cursor: pointer;
  color: #005E3C;
  background: #B2D3A7;
}

.article__tab--title .active {
  background: #3f51b5;
  color: #005E3C;
  background: none;
  border-top: solid 2px #005E3C;
  border-left: solid 1px #005E3C;
  border-right: solid 1px #005E3C;
}

.article__tab--about {
  display: flex;
  width: 96%;
  margin: 0 auto 100px;
}

.article__tab--about-text {
  display: none;
}

.article__tab--about-text__content-li {
  border-bottom: dotted 1px #CCCCCC;
  padding: 20px 0;
  font-size: 1.4rem;
}

.article__tab--about-text__content-li:hover {
  background: #EFF4ED;
}

.article__tab--about-text__content-li-span1 {
  background: #EFF4ED;
  padding: 5px;
  margin-right: 5px;
}

.article__tab--about-text__content-li-span2 {
  font-size: 90%;
  background: #FCFF80;
  border: solid 1px #F4E02D;
  padding: 2px 5px;
  margin-left: 5px;
}

.article__tab--about .show {
  display: block;
  margin: 0 auto;
}

.article__img1 {
  text-align: center;
  margin-bottom: 10px;
}

.article__img1:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.article__img2 {
  text-align: center;
  margin-bottom: 10px;
}

.article__img2:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.article__img3 {
  text-align: center;
  margin-bottom: 10px;
}

.article__img3:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.article__img4 {
  text-align: center;
  margin-bottom: 10px;
}

.article__img4:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.article__list {
  border: solid 1px #005E3C;
  font-size: 1.4rem;
  width: 90vw;
  margin: 0 auto 15px;
}

.article__list__item {
  background: #005E3C;
  color: white;
  padding: 10px 20px 7px 10px;
  border-bottom: solid 0.1px white;
}

.article__list__item:nth-child(6) {
  border-bottom: none;
}

.article__list__item:hover {
  background: white;
  color: #005E3C;
  transition: all 0.2s linear;
}

.article__list-2 {
  margin: 0 auto 10px;
  width: 90vw;
  font-size: 1.4rem;
  color: #666666;
}

.article__list-2__item {
  position: relative;
  border: solid 1px #CCD6C8;
  background: #EFF4ED;
  margin-bottom: 10px;
  padding: 10px;
}

.article__list-2__item:hover {
  background: #c5d7be;
}

.article__list-2__item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__list-3 {
  font-size: 1.4rem;
  background: #EFF4ED;
  border: solid 1px #CCD6C8;
  padding: 10px;
  box-sizing: border-box;
  color: #666666;
  width: 90vw;
  margin: 0 auto 10px;
}

.article__list-3__item {
  padding: 10px;
  border-bottom: dotted 1px #CCD6C8;
}

.article__list-3__item:nth-child(3) {
  border-bottom: none;
}

.article__list-3__item:hover {
  background: #c5d7be;
}

.article__icon {
  width: 85vw;
  margin: 0 auto;
}

.article__icon--item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding: 5px;
}

.article__icon--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
  opacity: 0.5;
}

.article__icon--item-p {
  margin-right: 10px;
  line-height: 1;
}

.article__icon--item-p-facebook {
  line-height: 1.3em;
}

.article__info-group1 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
}

.article__info-group1--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__info-group1--ul {
  margin: 10px 15px 0;
}

.article__info-group1--ul--item {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: dotted 1px #CCCCCC;
  color: #666666;
}

.article__info-group1--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__info-group1--ul--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
}

.article__info-group1--ul--item:nth-child(3) {
  border-bottom: none;
}

.article__info-group2 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
}

.article__info-group2--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__info-group2--ul {
  margin: 10px 15px 0;
}

.article__info-group2--ul--item {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: dotted 1px #CCCCCC;
  color: #666666;
}

.article__info-group2--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__info-group2--ul--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
}

.article__info-group2--ul--item:nth-child(1) {
  padding: 10px 0 20px 10px;
}

.article__info-group2--ul--item:nth-child(1)::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c5";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 1em;
  /*サイズ*/
  font-weight: 900;
  bottom: 5px;
  left: 15px;
  color: #8ed174;
}

.article__info-group2--ul--item:nth-child(2) {
  border-bottom: none;
}

.article__video {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.article__video--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__video--p {
  color: #333333;
  padding: 0 15px;
  margin-bottom: 10px;
}

.article__video--iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 58.33333%;
  box-sizing: border-box;
}

.article__video--iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article__video2 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.article__video2--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__video2--p {
  color: #333333;
  padding: 0 15px;
  margin-bottom: 10px;
}

.article__video2--iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 58.33333%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.article__video2--iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article__video2--p2 {
  color: #0000EE;
  text-decoration: underline;
  margin-bottom: 20px;
}

.article__video2--p2:hover {
  color: #ea6000;
  transition: all 0.2s linear;
}

.article__info-group3 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
}

.article__info-group3--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__info-group3--ul {
  margin: 10px 15px 0;
}

.article__info-group3--ul--item {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: dotted 1px #CCCCCC;
  color: #666666;
}

.article__info-group3--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__info-group3--ul--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
}

.article__info-group3--ul--item:nth-child(2) {
  border-bottom: none;
}

.article__info-group4 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.article__info-group4--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__info-group4--ul {
  margin: 10px 15px 0;
}

.article__info-group4--ul--item {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: dotted 1px #CCCCCC;
  color: #666666;
}

.article__info-group4--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__info-group4--ul--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
}

.article__info-group4--ul--item:nth-child(6) {
  border-bottom: none;
}

.article__info-group5 {
  background: #EFF4ED;
  width: 90vw;
  margin: 0 auto 10px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.article__info-group5--h4 {
  color: #005E3C;
  border-left: 5px solid #005E3C;
  padding: 5px 15px;
}

.article__info-group5--ul {
  margin: 10px 15px 0;
}

.article__info-group5--ul--item {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: dotted 1px #CCCCCC;
  color: #666666;
}

.article__info-group5--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
}

.article__info-group5--ul--item:hover {
  background: #d8ddd5;
  transition: all 0.2s linear;
}

.article__info-group5--h4 {
  margin-bottom: 10px;
}

.article__info-group5--p {
  text-align: center;
}

.article__bunner {
  background-image: url(https://www.hiroshima-u.ac.jp/sites/all/themes/hu/images/common/bunerArea_bg.gif);
}

.article__bunner-ul {
  padding: 20px 15px;
}

.article__bunner-ul-li {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-bottom: 10px;
}

.article__bunner-ul-li img:hover {
  opacity: 0.5;
  transition: all 0.2s linear;
  border: solid 2px #005E3C;
  box-sizing: border-box;
}

.article__list-4 {
  background: #005E3C;
  padding-top: 30px;
}

.article__list-4--ul {
  background: white;
  margin: 0;
  padding: 0 5px;
}

.article__list-4--ul--item {
  position: relative;
  color: #005E3C;
  padding: 15px 0 15px 20px;
  border-bottom: solid 1px #CCCCCC;
  font-size: 1.4rem;
}

.article__list-4--ul--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
  color: #005E3C;
}

.article__list-4--ul--item:hover {
  background: white;
  text-decoration: underline;
  transition: all 0.2s linear;
}

.article__list-4--ul2 {
  background: white;
  margin: 0;
  padding: 0 5px;
  background: #005E3C;
}

.article__list-4--ul2--item {
  position: relative;
  color: #005E3C;
  padding: 15px 0 15px 20px;
  border-bottom: solid 1px #CCCCCC;
  font-size: 1.4rem;
}

.article__list-4--ul2--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
  color: #005E3C;
}

.article__list-4--ul2--item:hover {
  background: white;
  text-decoration: underline;
  transition: all 0.2s linear;
}

.article__list-4--ul2--item {
  color: white;
  border-bottom: dotted 1px #CCCCCC;
}

.article__list-4--ul2--item:after {
  color: white;
}

.article__list-4--ul2--item:hover {
  background: #005E3C;
}

.article__list-4--ul3 {
  background: white;
  margin: 0;
  padding: 0 5px;
  background: #EFF4ED;
}

.article__list-4--ul3--item {
  position: relative;
  color: #005E3C;
  padding: 15px 0 15px 20px;
  border-bottom: solid 1px #CCCCCC;
  font-size: 1.4rem;
}

.article__list-4--ul3--item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  /*アイコンのユニコード*/
  position: absolute;
  /*絶対位置*/
  font-size: 0.7em;
  /*サイズ*/
  font-weight: 900;
  top: 50%;
  /*アイコンの位置*/
  right: 10px;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #8ed174;
  color: #005E3C;
}

.article__list-4--ul3--item:hover {
  background: white;
  text-decoration: underline;
  transition: all 0.2s linear;
}

.article__list-4--ul3--item {
  color: #666666;
}

.article__list-4--ul3--item:hover {
  background: #EFF4ED;
}

.footer {
  position: relative;
  background: #005E3C;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.footer__item1 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.footer__item1__logo {
  width: 350px;
  height: 80px;
  margin: 0 auto;
  padding: 20px;
}

.footer__item1__info {
  font-size: 1.4rem;
}

.footer__item1__info .fas {
  margin-right: 5px;
}

.footer__item1__info__item {
  display: inline-block;
  padding: 0 10px;
  border-left: solid 1px #CCCCCC;
}

.footer__item1__info__item:nth-child(1) {
  border-left: none;
}

.footer__info2 {
  font-size: 1.4rem;
  margin: 10px;
}

.footer__info2__item {
  display: inline-block;
  margin-right: 20px;
}

.footer__info2__item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  font-weight: 900;
}

.footer__top {
  position: absolute;
  bottom: 3%;
  right: 0;
  width: 45px;
  height: 40px;
}

.footer__top-p {
  background: #b2d3a7;
  color: #005E3C;
  font-size: 1.3rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  line-height: 3.5;
  height: 42px;
}

.footer__top-p a {
  display: block;
}

.footer__top-p::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f0de";
  font-weight: 900;
  font-size: 2em;
  top: -25px;
  right: 32%;
  z-index: 0;
}
